[submodule "machine-learning/word-rnn-tensorflow"]
	path = machine-learning/word-rnn-tensorflow
	url = https://github.com/rusucosmin/word-rnn-tensorflow
[submodule "machine-learning/--force"]
	path = machine-learning/--force
	url = https://github.com/rusucosmin/word-rnn-tensorflow
